# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Environment variables
.env

# Database files (if any local DB like sqlite is used)
*.sqlite3
*.db

# Media files
/media/

# Virtual environments
venv/
.venv/
env/
env.bak/
venv.bak/

# IDE/editor config files
.vscode/
.idea/

# Test and coverage
.coverage
.pytest_cache/
htmlcov/
